streamlit
langchain
langchain-google-genai
langchain-community
chromadb
pypdf
beautifulsoup4
python-dotenv
google-generativeai
playwright
openai-whisper
networkx
pyvis
pandas
plotly
openai
PyPDF2
fpdf2
